/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online & Print/Side Navigation and PDF/ */

:root
{
	--FontFamily: Arial, Avenir, Myriad;
	--Primary: #076685;
	--Secondary: #CDE0E7;
	--Medium: #A4AAAE;
	--Dark: #45494C;
	--Darkest: #000000;
	--LogoImage: url('../Images/accessibilitylogo3.png');
	--LogoImagePrint: url('../Images/accessibilitylogo4.png');
	--Lightest: #FFFFFF;
	--Light: #000000;
	--HeroImage: url('../Images/45362345212_2c7a8dd88a_c1.jpg');
}

